// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// @import "../node_modules/bootstrap/scss/functions"; // Required
// @import "../node_modules/bootstrap/scss/variables"; // Required
// @import "../node_modules/bootstrap/scss/mixins"; // Required

// @import "../node_modules/bootstrap/scss/root"; // Required
// @import "../node_modules/bootstrap/scss/reboot"; // Required
// @import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap-v4-rtl/scss/bootstrap";

@import "base";
@import "layout";
@import "components";


 